<?xml version="1.0" encoding="UTF-8"?>

<!--
  - Sample namespace-based configuration
  -
  -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:s="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<!-- 
	Just for develop
	 
    <debug />-->
    <s:authentication-manager erase-credentials="false">
        <s:authentication-provider user-service-ref="userDetailsService" >
            <s:password-encoder ref="encoder" />
        </s:authentication-provider>
    </s:authentication-manager>

    <global-method-security pre-post-annotations="enabled" />
	
	<http pattern="/img/**" security="none" />
    <http pattern="/api/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http use-expressions="true" auto-config="true">
     	<intercept-url pattern="/admin/**" access="hasRole('MANAGE')"/>
        <form-login default-target-url="/admin/index" 
        	login-page="/auth/login" 
        	username-parameter="username" 
        	password-parameter="password" 
        	authentication-failure-url="/auth/login?error=user_or_pass_error"
        	 />
        <logout logout-success-url="/auth/login?success=logout_success" delete-cookies="JSESSIONID"/>
        <remember-me key="appchinaManageKey" user-service-ref="userDetailsService" />
        
     	<!-- Uncomment to limit the number of sessions a user can have -->
     	<!-- 
        <session-management invalid-session-url="/timeout.jsp">
            <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </session-management>
 		-->
    </http>

</beans:beans>
